<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}Profile - {{ profile.user.username }}{% endblock %}

{% block content %}
    <h1 class="text-center">Hello, {{ profile.user.username }}!</h1>
    <hr>
    <div class="containerProfile">
        <h3>Books you've read</h3>
        {% if read_books %}
            <ul class="booklist-group">
                {% for book in read_books %}
                    <li class="booklist-group-item">
                        <a href="{% url 'book-detail' book.pk %}" class="book-link">{{ book.title }}</a>
                        <span class="book-author">by {{ book.author.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted">You haven't added any books yet.</p>
        {% endif %}
    </div>
    <hr>
    <form class="d-flex" action="{% url 'book-search' %}" method="get">
        <input class="form-control me-2" type="search" name="q" placeholder="Search books by title or author" aria-label="Search" value="{{ request.GET.q }}">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <hr>



{#<div>#}
{##}
{#    <form id="add-book-form" method="POST">#}
{#        <h5>Add a Book</h5>#}
{#        {% csrf_token %}#}
{#        <div class="mb-3">#}
{#            <input type="text" id="book-title" name="book_title" class="form-control" placeholder="Enter full book Title" required>#}
{#        </div>#}
{#        <button type="submit" class="btn btn-outline-success">Add Book</button>#}
{#    </form>#}
{##}
{#    <ul id="book-list" class="mt-3">#}
{#    </ul>#}
{##}
{#    <p id="message" class="mt-3 text-danger"></p>#}
{#</div>#}
    <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
{% endblock %}
