{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ book.title }}</h1>
        <h4 class="text-muted">
            by <a href="{% url 'author_detail' book.author.pk %}">{{ book.author.name }}</a>
        </h4>
        <p><strong>Published Date:</strong> {{ book.published_date }}</p>
        <p><strong>Genre:</strong> {{ book.get_genres_display }}</p>
        <p><strong>Description:</strong></p>
        <p>{{ book.description }}</p>
    </div>
    {% if allow_add %}
    <form action="{% url 'book-detail' book.pk%}" method="POST"> <!-- Change 'add-book' to your actual URL name -->
        {% csrf_token %}
        <input type="hidden" name="book_id" value="{{ book.pk }}"> <!-- Hidden input to hold the book's pk -->
        <button type="submit" class="btn btn-primary">Add to My Books</button> <!-- Button to submit the form -->
    </form>
    {% endif %}
    <a id="book-list-link" href="{% url 'book-list' %}">Back to Library</a>

{% endblock %}
