/* General site container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header and footer styling */
header, footer {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Form styling */
form {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Input fields styling */
form input[type="text"],
form input[type="password"],
form input[type="email"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

/* Button styling */
form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Link styling */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Utility classes for margins and padding */
.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-20 {
    padding: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-profile {
    margin-left: auto; /* Расположить кнопку справа */
    border: none;
    background: transparent;
    cursor: pointer;
}

.add-to-profile:hover {
    background-color: #f8f9fa; /* Легкий фон при наведении */
}