/* styles.css */
html, body {
    height: 100%;
    margin: 0; /* Remove any default margins */
    padding: 0;
}
body {
    padding-top: 100px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8)), url('/static/img/index.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: contrast(100%);
}



.container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px; /* Optional: space above main content */
    padding-bottom: 10px; /* Optional: additional bottom padding */
    background-color: rgba(229, 210, 211, 0.3);
}

.containerProfile {
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px; /* Optional: space above main content */
    padding-bottom: 10px; /* Optional: additional bottom padding */
    background-color: rgba(229, 210, 211, 0.8);
}

.list-group {
    background-color: rgba(229, 210, 211, 0.8);
}

#book-list, #pagination {
    background-color: rgba(229, 210, 211, 0.4); /* Белый фон с прозрачностью 80% */
    border-radius: 10px; /* Края будут округлены */
    padding: 15px; /* Дополнительное внутреннее расстояние */
}

.btn-custom {
    background-color: #28a745; /* The '!important' ensures it overrides Bootstrap */
    color: white
}

#book-list li {
    background-color: rgba(229, 210, 211, 0.5); /* Полупрозрачный белый фон для каждого элемента списка */
    margin-bottom: 10px; /* Пространство между элементами списка */
    padding: 10px;
    border-radius: 5px;
}
#pagination {
    background-color: rgba(0, 0, 0, 0,5); /* Полупрозрачный черный фон для контейнера пагинации */
}
#pagination li {
    background-color: rgba(0, 0, 0, 0); /* Полупрозрачный белый фон для каждого элемента пагинации */
    margin: 5px; /* Пространство между элементами пагинации */
    padding: 10px;
    border-radius: 5px;
}

#pagination li a {
    color: #000; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.list-group-item {
    background-color: rgba(229, 210, 211, 0.8);
}

main {
    padding-left: 20px; /* Indent from the left */
    padding-right: 20px; /* Indent from the right */
    margin-top: 60px; /* Optional: space above main content */
}

footer {
    padding-left: 20px; /* Indent from the left */
    padding-right: 20px; /* Indent from the right */
    padding-bottom: 10px; /* Optional: additional bottom padding */
    margin-top: 120px; /* Optional: space above the footer */
    text-align: right; /* Align text to the right */
}



