html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    padding-top: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8)), url('/static/img/index.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: contrast(100%);

}

.container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
    padding-bottom: 10px;
    background-color: rgba(229, 210, 211, 0.5);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/*.container.mt-5 {*/
/*        background-color: rgba(229, 210, 211, 0.q);*/
/*}*/
.containerProfile {
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
    padding-bottom: 10px;
    background-color: rgba(229, 210, 211, 0.8);
}

.list-group {
    background-color: rgba(229, 210, 211, 0.8);
}

#book-list, #pagination {
    background-color: rgba(229, 210, 211, 0.4);
    border-radius: 10px;
    padding: 15px;
}

.btn-custom {
    background-color: #2C5F2D;
    color: white
}

#book-list li {
    background-color: rgba(229, 210, 211, 0.5);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.list-group-item {
    background-color: rgba(229, 210, 211, 0.8);
    font-weight: bold;
    font-size: 16px;
    color: #2C5F2D;

}
.list-group-item a, a {
    font-weight: bolder;
    color: #2C5F2D;
}
ul li a {

    text-decoration: none;
    color: #2C5F2D;
}
main {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
}

footer {
    position: fixed;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    margin-top: auto;
    text-align: right;
    width: 100%;
}

.text-decoration-book, .nav-link{
    font-weight: bold;
    font-size: 18px;
    color: #2C5F2D;

}

.btn-outline-success {
        color: #2C5F2D;
}
a.page-link {
    color: #2C5F2D;
}
.text-muted a{
    color: #2C5F2D;
}

.nav-link:hover {
    color: darkgreen;
}
 .green-text {
     font-weight: bolder;
     color: darkgreen;
}
 .signup_body {

}
#book-list-link {
    margin-top: 200px;
    margin-left: 100px;
}