<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/api/book/')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    const bookList = document.getElementById('book-list');
                    data.forEach(book => {
                        const li = document.createElement('li');
                        li.innerHTML = `${book.title} - ${book.author} (Published: ${book.published_date})`;
                        bookList.appendChild(li);
                    });
                })
                .catch(error => console.error('Error fetching books:', error));
        });

    </script>
</head>
<body>
    <h1>List of Books</h1>
    <ul id="book-list"></ul>
</body>
</html>
